{{#usage-example title='Wizard example'}}
  {{#block-slot 'rendered'}}
    <p>
      Here comes a wizard example usage for the ember-steps:
    </p>

    <ul>
      <li>You can go to the next or previous step (as defined by the DOM implementation)</li>
      <li>You can easily define a start and stop with specific actions</li>
    </ul>

    <hr />

    {{!-- BEGIN-SNIPPET wizard-example --}}
    {{#step-manager as |w|}}
      {{#w.step name='a'}}
        <h3>Step A</h3>
      {{/w.step}}

      {{#w.step name='b'}}
        <h3>Step B</h3>
      {{/w.step}}

      {{#w.step name='c'}}
        <h3>Step C</h3>
      {{/w.step}}

      <div>
        {{#if (eq w.currentStep 'a')}}
          <button>Cancel</button>
        {{else}}
          <button {{action w.transition-to-previous}}>Go to previous step</button>
        {{/if}}
        {{#if (eq w.currentStep 'c')}}
          <button>Submit</button>
        {{else}}
          <button {{action w.transition-to-next}}>Go to next step</button>
        {{/if}}
      </div>

    {{/step-manager}}
    {{!-- END-SNIPPET --}}
  {{/block-slot}}

  {{#block-slot 'code-template'}}
    {{code-snippet name='wizard-example.hbs'}}
  {{/block-slot}}
{{/usage-example}}
