{{#usage-example title='Named Steps'}}
  {{#block-slot 'rendered'}}
    <p>
      Named steps are useful for cases where you don't have a single way to navigate through the steps.
      Some example use cases are:
    </p>

    <ul>
      <li>Presenting multiple navigation options from each step, like the example below</li>
      <li>Sometimes skipping a step based on some application state</li>
    </ul>

    <hr />

    {{#step-manager classNames=(local-class 'step-manager') as |w|}}
      {{#w.step name='a'}}
        <h3>Step A</h3>

        <button {{action w.transition-to 'b'}}>
          Go to Step B
        </button>

        <button {{action w.transition-to 'c'}}>
          Go to Step C
        </button>
      {{/w.step}}

      {{#w.step name='b'}}
        <h3>Step B</h3>

        <button {{action w.transition-to 'a'}}>
          Go to Step A
        </button>

        <button {{action w.transition-to 'c'}}>
          Go to Step C
        </button>
      {{/w.step}}

      {{#w.step name='c'}}
        <h3>Step C</h3>

        <button {{action w.transition-to 'a'}}>
          Go to Step A
        </button>

        <button {{action w.transition-to 'b'}}>
          Go to Step B
        </button>
      {{/w.step}}
    {{/step-manager}}
  {{/block-slot}}

  {{#block-slot 'code-template'}}
    {{code-snippet name='named-steps.hbs'}}
  {{/block-slot}}
{{/usage-example}}

