<DocsDemo as |demo|>
  <demo.example @name="demo-cyclical-steps-cyclical.hbs">
    <StepManager @linear={{false}} as |w|>
      <w.step>
        First step has both a "next" and "previous" step
      </w.step>

      <w.step>
        Second step has both a "next" and "previous" step
      </w.step>

      {{#control-group}}
        <button
          type="button"
          onClick={{action w.transition-to-previous}}
          disabled={{not w.hasPreviousStep}}
        >
          Previous
        </button>
        <button
          type="button"
          onClick={{action w.transition-to-next}}
          disabled={{not w.hasNextStep}}
        >
          Next
        </button>
      {{/control-group}}
    </StepManager>
  </demo.example>

  <demo.snippet @name="demo-cyclical-steps-cyclical.hbs" />
</DocsDemo>
