{{yield}}

<div local-class="rendered">
  <div local-class="rendered-inner">
    <h1 local-class="header">
      {{title}}
    </h1>

    {{#yield-slot 'rendered'}}
      {{yield}}
    {{/yield-slot}}
  </div>
</div>

<div local-class="code-example">
  <div local-class="code-example-inner">
    {{#step-manager on-transition=(action 'switch-to-block') initialStep=activeBlock as |w|}}
      <div local-class="code-file-links">
        {{#yield-slot 'code-template'}}
          <a href="#"
            {{action w.transition-to 'template'}}
            local-class="code-file-link"
            class="{{if (eq activeBlock 'template') 'active'}}"
            >
            Template
          </a>
        {{/yield-slot}}
        {{#yield-slot 'code-js'}}
          <a href="#"
              {{action w.transition-to 'js'}}
              local-class="code-file-link"
              class="{{if (eq activeBlock 'js') 'active'}}"
            >
            JavaScript
          </a>
        {{/yield-slot}}
      </div>

      {{#yield-slot 'code-template'}}
        {{#w.step name='template'}}
          {{yield}}
        {{/w.step}}
      {{/yield-slot}}

      {{#yield-slot 'code-js'}}
        {{#w.step name='js'}}
          {{yield}}
        {{/w.step}}
      {{/yield-slot}}

    {{/step-manager}}
  </div>
</div>
