<DocsDemo as |demo|>
  <demo.example @name="demo-wizard-with-progress-indicator.hbs">
    <StepManager as |w|>
      <w.step>
        This content is on the first step
      </w.step>

      <w.step>
        This content is on the second step
      </w.step>

      <w.step>
        This content is on the third step
      </w.step>

      {{#control-group}}
        <button
          type="button"
          disabled={{not w.hasPreviousStep}}
          {{action w.transition-to-previous}}
        >
          Previous
        </button>
        <div local-class="progress-indicators">
          {{#each w.steps as |step|}}
            <button
              type="button"
              local-class="progress-dot"
              aria-pressed={{step.isActive}}
              {{action w.transition-to step}}
            >
            </button>
          {{/each}}
        </div>
        <button
          type="button"
          disabled={{not w.hasNextStep}}
          {{action w.transition-to-next}}
        >
          Next
        </button>
      {{/control-group}}
    </StepManager>
  </demo.example>

  <demo.snippet @name="demo-wizard-with-progress-indicator.hbs" />
</DocsDemo>
