{{#docs-demo as |demo|}}
  {{#demo.example name='validating-steps-ember-concurrency.hbs'}}
    {{#step-manager as |w|}}
      {{#w.step}}
        {{input
            placeholder='Enter password'
            value=password
        }}

        {{#control-group}}
          <button
            disabled={{checkPassword.isRunning}}
            onclick={{validate-transition w.transition-to-next with=(perform checkPassword)}}
          >
            Check Password
          </button>
        {{/control-group}}
      {{/w.step}}

      {{#w.step}}
        Great job! You got the password right
      {{/w.step}}
    {{/step-manager}}
  {{/demo.example}}

  {{demo.snippet name='validating-steps-ember-concurrency.hbs'}}
  {{demo.snippet name='validating-steps-ember-concurrency.js' label='component.js'}}
{{/docs-demo}}

