{{#docs-demo as |demo|}}
  {{#demo.example name="demo-cyclical-steps-linear.hbs"}}
    {{#step-manager as |w|}}
      {{#w.step}}
        First step has only a "next" step
      {{/w.step}}

      {{#w.step}}
        Second step has only a "previous" step
      {{/w.step}}

      {{#control-group}}
        <button
          onClick={{action w.transition-to-previous}}
          disabled={{not w.hasPreviousStep}}
        >
          Previous
        </button>
        <button
          onClick={{action w.transition-to-next}}
          disabled={{not w.hasNextStep}}
        >
          Next
        </button>
      {{/control-group}}
    {{/step-manager}}
  {{/demo.example}}

  {{demo.snippet "demo-cyclical-steps-linear.hbs"}}
{{/docs-demo}}

